apiVersion: v1 
kind: ConfigMap 
metadata: 
  name: nginx-config 
data: 
  nginx.conf: |
    server { 
        listen 80; 
        server_name localhost; 
        location / { 
            root /usr/share/nginx/html; 
            index index.html; 
        } 
    } 
  index.html: |
    <html> 
      <body> 
        <h1>Hello from ConfigMap!</h1> 
      </body> 
    </html>